<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FoudeFoot{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'pubs' %}">Pubs</a></li>
            <li><a href="{% url 'abonnement_step1' %}">S'abonner</a></li>
            <li><a href="{% url 'liste_utilisateurs' %}">Utilisateurs</a></li>
            <li><a href="{% url 'envoyer_pub' %}">Envoyer une pub</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>